code, .code-toolbar {
  --normal: #c0caf5;
  --builtin: #f7768e;
  --function: #7aa2f7;
  --symbol: #2ac3de;
  --punctuation: #89ddff;
  --string: #9ece6a;
  --keyword: #9d7cd8;
  --operator: #89ddff;
  --constant: #ff9e64;
  --variable: #c0caf5;
  --comment: #565f89; /* Italic */
}

code {
  color: var(--normal);
}

code .comment {
  color: var(--comment);
  font-style: italic;
}

code .builtin,
code .import {
  color: var(--builtin);
}

code .string {
  color: var(--string);
}

code .type, 
code .type_builtin {
  color: var(--symbol);
}

code .variable {
  color: var(--variable);
}

code .operator,
code .function_builtin, 
code .module {
  color: var(--operator);
}

code .punctuation, code .punctuation_delimiter {
  color: var(--punctuation);
}

code .keyword, 
code .keyword_modifier, 
code .keyword_function {
  color: var(--keyword);
}

code .number {
  color: var(--constant);
}

code .function, 
code .function_call {
  color: var(--function);
}
